@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kaushan+Script&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inconolata', sans-serif;
    color: #ffffff;
    background-color: rgb(30, 30, 30);
}

/* Header */
header {
    background-color: rgb(41, 40, 40);
    padding: 1rem 1.4rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

.logo {
    width: 170px;
}

#menu {
    list-style-type: none;
    font-size: 110%;

}

#menu>li {
    margin-bottom: 1em;
    color: #d3ad7f;
    padding: 5px;
}

#menu>li:hover {
    color: white;
    transition: 0.5s;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Dropdown nav bar */

nav {
    position: absolute;
    background-color: rgb(41, 40, 40);
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #3a3a3a;
    display: none;
    top: 100%
}

/* Toggle nav */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* MAIN */

/* Hero */
.main {
    padding-top: 105px;
    width: 100%;
    height: 600px;
    background: url("../images/bg.webp") no-repeat center center/cover;
    position: relative;

}

.welcome {
    text-align: center;
    width: 60%;
    min-height: 120px;
    background-color: rgba(222, 203, 203, 0.4);
    margin-top: 100px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 25px 25px 0
}

.welcome2 {
    text-align: center;
    width: 80%;
    min-height: 80px;
    background-color: rgba(34, 31, 31, 0.8);
    margin-top: 100px;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:  25px 0 0 25px ;
    float: right;
}

.welcome span {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.welcome2 span {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    
}
.welcome-header {
    font-size: 1.75rem;
    font-family: 'Kaushan Script', sans-serif;
    letter-spacing: 4px;
}

.welcome2 h2 {
    font-size: 1.25rem;
    letter-spacing: 2px;
}

/* ABOUT US */
.about-us {
    width: 100%;
    margin: 20px auto;
    position: relative;
}

.about-us-header {
    padding-bottom: 2rem;
    font-family: 'Oswald', sans-serif;
}

.info {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    padding: 8px;
}

.info span {
    letter-spacing: 2px;
    font-weight: 600;
    font-size: medium;
    width: 100%
}

.info-image {
    height: 300px;
    margin-top: 7px;
    background: url("../images/about-image.webp") no-repeat center center/cover;
}

.info-paragraph {
    width: 270px;
    margin: auto;
    padding: 4px;
    font-family: 'Lato', sans-serif;
}

/* TABLE OPENING TIMES */

.opening-times {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.table-opening {
    width: 70%;
    text-align: center;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.table-opening h2 {
    padding-bottom: 20px;
}

.th1 {
    width: 40%
}

.th2 {
    width: 60%;
}

th,
td {
    border-bottom: 1px solid #4e4336;
    padding: 3px;
}

/* FOOTER */

footer {
    background-color: rgb(41, 40, 40);
}

#social-networks {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 170%;
    padding: 15px;
    color: #d3ad7f;
}

#social-networks i:hover {
    color: white;
    transition: 0.5s;
}

/* SIGN UP  */

#signup {
    background: url("../images/signup-background.webp") no-repeat center center/cover;
    
    padding-top: 105px;
    position: relative;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 60%;
    height: 40px;
    margin: 5px 0 20px 0;
    border: 1px solid #d3ad7f;
    border-radius: 5px;
    padding: 0 5px;
}

#text-area {
    height: 100px;
}

.send-button {
    margin-top: 20px;
    border-radius: 25px;
    padding: 15px;
    width: 120px;
    font-size: 100%;
    background-color: rgb(41, 40, 40);
    color: #fafafa;
    border-color: #d3ad7f;
}

/* MENU SECTION */

.menu-section {
    padding-top: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #eecea7;

}

.menu-caption {
    margin-top: 30px;
    padding: 5px;
}

.menu-table {
    width: 90%;
    padding-top: 0.5rem;
    color: #4e4336;   
    font-family: 'Kaushan Script', sans-serif;
    text-align:justify;
}

.menu-table p {
    font-size: 12px;
}

.menu-th1 {
    width: 80%;
}

.menu-th2 {
    width: 20%;
}

.menu-table tr td {
    padding-left: 2rem;
    padding-top: 0.5rem;
}

.menu-table p {
    padding-left: 6px;
}

/* 768px */
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex
    }

    .nav-toggle-label {
        display: none
    }

    #menu>li {
        padding-left: 50px;
    }

    /* HERO */

    .welcome h2 {
        font-size: 3rem;
        letter-spacing: 9px;
    }

    .welcome2 {
        width: 500px;
    }

    /* MAIN */

    .about-us {
        display: flex;
        gap: 15px;
        position: relative;
    }

    .info {
        width: 40%;
        margin-top: 80px;

    }

    .info-image {
        width: 75%;
        height: 550px;
    }

    /* Sign Up */

    #signup-form {
        max-width: 600px;
        position: relative;
        left: 5%;
      }
      /* TABLE Opening times */
      .table-opening {
        width: 600px;
      }

      /* Menu */
      .menu-table {
        width: 70%; 
    }
}


/* 1200px */
@media screen and (min-width: 1200px) {

.menu-section {
    display: flex;
    flex-direction: row;
}

.menu-table {
    height: 550px;
    padding: 10px;
}
}